*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62,5%; /* 1rem=10px */
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed;  */
}
.header-container{
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}
header nav a{
    font-size: 1.4rem;
    color: #6b7380;
    text-decoration: none;
    padding: 0 2.5rem;
    margin-right: 1.5rem;
}
header nav a:hover{
    color:#ff6600;
    /* text-decoration: underline; */
}
.logo img{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 6rem;
    margin: 0 2.5rem;
}
.logo img:hover{
    width: 6rem;
    margin: 0 2.5rem;
}

/* PORTADA */
.portada{
    display: flex;
    justify-content: center;
}
.portada img{
    width: 100%;
    border-bottom: .25rem solid #333;
    border-top: .25rem solid #333;
}
/* DIV CONTAINER */
.div-container{
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto1{
    font-size: 2.75rem;
}
.texto2{
    font-size: 2.75rem;
    color: #ff8300;
}

/* SECTION TEXTO */
h2{
    font-size: 1.8rem;
    border-bottom: #6b7380 solid .2rem;
    margin: 0 12rem 1rem 12rem;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}
.container-text p{
    margin:  1.5rem 12rem;
    font-size: 1.6rem;
    text-align: justify;
}
p{
    margin-bottom: rem;
}



/* FOOTER O PIE DE PÁGINA */
.footer-container-redes{
    background-color: #6b7380;
    padding:2rem 1rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.redes-face{
    background-color: #575e68;
    border-radius: 50%;
}
.redes-face:hover{
    background-color: #3b5999;
    border-radius: 50%;
}
.redes-insta{
    background-color: #575e68;
    border-radius: 50%;
}
.redes-insta:hover{
    background-color: #C13584;
    border-radius: 50%;
}
.redes-whats{
    background-color: #575e68;
    border-radius: 50%;
}
.redes-whats:hover{
    background-color: #25D366;
    border-radius: 50%;
}
.redes-you{
    background-color: #575e68;
    border-radius: 50%;
}
.redes-you:hover{
    background-color: #c4302b;
    border-radius: 50%;
}
.footer-container-copy{
    background-color: #575e68;
    padding: 1rem;
    color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-container-p{
    color: #ff6600;
}
footer div a img{
    height: 4rem;
    width: 4rem;
}